<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include 'petapp/Header.html'%}
    <form action="" method="POST">
        {% csrf_token %}

        <table border="2" cellspacoing="6" cellpadding="6">
            <h1>AddCustomer</h1>
            <tr>
                <td>
                    <label for="">emailId</label>
                </td>
                <td>
                    <input type="text" name="emailId">
                </td>
            </tr>

            
            <tr>
                <td>
                    <label for="">custname</label>
                </td>
                <td>
                    <input type="text" name="custname">
                </td>
            </tr>

            
            <tr>
                <td>
                    <label for="">password</label>
                </td>
                <td>
                    <input type="text" name="password">
                </td>
            </tr>

            
            <tr>
                <td>
                    <label for="">address</label>
                </td>
                <td>
                    <input type="text" name="address">
                </td>
            </tr>

            
            <tr>
                <td>
                    <label for="">contact_No</label>
                </td>
                <td>
                    <input type="number" name="contact_No">
                </td>
            </tr>

            <tr>
                <td></td>
                <td>
                    <input type="submit" value="submit">
                    <input type="reset" value="clear">
                </td>
            </tr>
            {% include 'petapp/Footer.html'%}
</body>
</html>